### Import data from CSV Files 
- There are 6 files of the the 6 months of summer for 2019 and 2010
- There will be 3 output files :

In [1]:
####################
## Import dependencies.
####################
import pandas as pd
import numpy as np
import datetime as dt
from datetime import datetime
from math import radians, sin, cos, sqrt, atan2

In [2]:
#################
#### 2019
#################
# Create pathway for CSV to be read for each year
## 2019
csv_path_0619 = "2019/201906-citibike-tripdata.csv"
csv_path_0719 = '2019/201907-citibike-tripdata.csv'
csv_path_0819 = '2019/201908-citibike-tripdata.csv'

# Read the CSV into a Pandas DataFrame
## 2019
jun_19_pd = pd.read_csv(csv_path_0619 ,encoding="utf-8")
jul_19_pd = pd.read_csv(csv_path_0719 ,encoding="utf-8")
aug_19_pd = pd.read_csv(csv_path_0819 ,encoding="utf-8")

In [3]:
#################
#### 2020
#################
# Create pathway for CSV to be read for each year
## 2020
csv_path_0720 = "2020/202006-citibike-tripdata.csv"
csv_path_0820 = '2020/202007-citibike-tripdata.csv'
csv_path_0920 = '2020/202008-citibike-tripdata.csv'


# Read the CSV into a Pandas DataFrame
# 2020
jun_20_pd = pd.read_csv(csv_path_0720 ,encoding="utf-8")
jul_20_pd = pd.read_csv(csv_path_0820 ,encoding="utf-8")
aug_20_pd = pd.read_csv(csv_path_0920 ,encoding="utf-8")


### Cleaning and Aggregatition of Data
- 2019 to 2020
####  Columns added at individual table level due to size

In [4]:
# ######################
## Create an am or pm start column
# --------- 2019
jun_19_pd['starttime'] = pd.to_datetime(jun_19_pd['starttime'])
jun_19_pd['start_day_time'] = jun_19_pd['starttime'].apply(lambda x: 'am' if x.hour < 12 else 'pm')

jul_19_pd['starttime'] = pd.to_datetime(jul_19_pd['starttime'])
jul_19_pd['start_day_time'] = jul_19_pd['starttime'].apply(lambda x: 'am' if x.hour < 12 else 'pm')

aug_19_pd['starttime'] = pd.to_datetime(aug_19_pd['starttime'])
aug_19_pd['start_day_time'] = aug_19_pd['starttime'].apply(lambda x: 'am' if x.hour < 12 else 'pm')

# --------- 2020
jun_20_pd['starttime'] = pd.to_datetime(jun_20_pd['starttime'])
jun_20_pd['start_day_time'] = jun_20_pd['starttime'].apply(lambda x: 'am' if x.hour < 12 else 'pm')

jul_20_pd['starttime'] = pd.to_datetime(jul_20_pd['starttime'])
jul_20_pd['start_day_time'] = jul_20_pd['starttime'].apply(lambda x: 'am' if x.hour < 12 else 'pm')

aug_20_pd['starttime'] = pd.to_datetime(aug_20_pd['starttime'])
aug_20_pd['start_day_time'] = aug_20_pd['starttime'].apply(lambda x: 'am' if x.hour < 12 else 'pm')

In [5]:
######################
# Create trip 'duration_group' column

# --------- 2019
# jun 2019
# Define the bins and labels
bins = list(range(0, 1441, 720)) + [float('inf')]
labels = [f"{i}-{i+719} min" for i in bins[:-1]]

# Apply binning to the 'tripduration' column
jun_19_pd['duration_group'] = pd.cut(jun_19_pd['tripduration'], bins=bins, labels=labels, right=False)

# jul 2019
# Define the bins and labels
bins = list(range(0, 1441, 720)) + [float('inf')]
labels = [f"{i}-{i+719} min" for i in bins[:-1]]

# Apply binning to the 'tripduration' column
jul_19_pd['duration_group'] = pd.cut(jul_19_pd['tripduration'], bins=bins, labels=labels, right=False)

# jun 2019
# Define the bins and labels
bins = list(range(0, 1441, 720)) + [float('inf')]
labels = [f"{i}-{i+719} min" for i in bins[:-1]]

# Apply binning to the 'tripduration' column
aug_19_pd['duration_group'] = pd.cut(aug_19_pd['tripduration'], bins=bins, labels=labels, right=False)


# --------- 2020
# jun 2020
# Define the bins and labels
bins = list(range(0, 1441, 720)) + [float('inf')]
labels = [f"{i}-{i+719} min" for i in bins[:-1]]

# Apply binning to the 'tripduration' column
jun_20_pd['duration_group'] = pd.cut(jun_20_pd['tripduration'], bins=bins, labels=labels, right=False)

# jul 2020
# Define the bins and labels
bins = list(range(0, 1441, 720)) + [float('inf')]
labels = [f"{i}-{i+719} min" for i in bins[:-1]]

# Apply binning to the 'tripduration' column
jul_20_pd['duration_group'] = pd.cut(jul_20_pd['tripduration'], bins=bins, labels=labels, right=False)

# jun 2020
# Define the bins and labels
bins = list(range(0, 1441, 720)) + [float('inf')]
labels = [f"{i}-{i+719} min" for i in bins[:-1]]

# Apply binning to the 'tripduration' column
aug_20_pd['duration_group'] = pd.cut(aug_20_pd['tripduration'], bins=bins, labels=labels, right=False)

aug_20_pd.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_day_time,duration_group
0,2013,2020-08-01 00:00:00.879,2020-08-01 00:33:34.7260,3295,Central Park W & W 96 St,40.791270,-73.964839,3992,W 169 St & Fort Washington Ave,40.842842,-73.942125,19706,Customer,1998,1,am,1440-2159 min
1,7002,2020-08-01 00:00:01.591,2020-08-01 01:56:44.0720,3144,E 81 St & Park Ave,40.776777,-73.959010,3671,E 81 St & 2 Ave,40.774779,-73.954275,37191,Subscriber,1966,1,am,1440-2159 min
2,155,2020-08-01 00:00:03.581,2020-08-01 00:02:38.6340,387,Centre St & Chambers St,40.712733,-74.004607,387,Centre St & Chambers St,40.712733,-74.004607,42561,Customer,1969,0,am,0-719 min
3,2720,2020-08-01 00:00:05.013,2020-08-01 00:45:25.3270,3080,S 4 St & Rodney St,40.709340,-73.956080,3364,Carroll St & 5 Ave,40.675162,-73.981483,41607,Subscriber,1990,1,am,1440-2159 min
4,2938,2020-08-01 00:00:05.942,2020-08-01 00:49:03.9640,3510,Adam Clayton Powell Blvd & W 123 St,40.807832,-73.949373,3282,5 Ave & E 88 St,40.783070,-73.959390,36366,Customer,1969,0,am,1440-2159 min

In [6]:
###########################
## CREATE trip_distance

def calculate_distance(lat1, lon1, lat2, lon2):
    # Convert latitude and longitude from degrees to radians
    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)

    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * atan2(sqrt(a), sqrt(1-a))
    distance = 6371 * c  # Radius of the Earth in kilometers
    return distance

In [7]:

## Run function trip_distance through each dataframe

#2019 - trip distance function 
# Access the columns in the DataFrame and calculate distances - iterating through the dataframe.
jun_19_pd['trip_distance'] = jun_19_pd.apply(lambda row: calculate_distance(
    row['start station latitude'], row['start station longitude'],
    row['end station latitude'], row['end station longitude']), axis=1)

# Access the columns in the DataFrame and calculate distances - iterating through the dataframe.
jul_19_pd['trip_distance'] = jul_19_pd.apply(lambda row: calculate_distance(
    row['start station latitude'], row['start station longitude'],
    row['end station latitude'], row['end station longitude']), axis=1)

# Access the columns in the DataFrame and calculate distances - iterating through the dataframe.
aug_19_pd['trip_distance'] = aug_19_pd.apply(lambda row: calculate_distance(
    row['start station latitude'], row['start station longitude'],
    row['end station latitude'], row['end station longitude']), axis=1)

aug_19_pd.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_day_time,duration_group,trip_distance
0,393,2019-08-01 00:00:01.468,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2,am,0-719 min,0.916213
1,627,2019-08-01 00:00:01.929,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2,am,0-719 min,1.176360
2,1132,2019-08-01 00:00:04.048,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1,am,720-1439 min,2.367929
3,1780,2019-08-01 00:00:04.163,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1,am,1440-2159 min,4.347187
4,1517,2019-08-01 00:00:05.458,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2,am,1440-2159 min,0.000000

In [8]:
#2020 - trip distance function 
# Access the columns in the DataFrame and calculate distances - iterating through the dataframe.
jun_20_pd['trip_distance'] = jun_20_pd.apply(lambda row: calculate_distance(
    row['start station latitude'], row['start station longitude'],
    row['end station latitude'], row['end station longitude']), axis=1)

# Access the columns in the DataFrame and calculate distances - iterating through the dataframe.
jul_20_pd['trip_distance'] = jul_20_pd.apply(lambda row: calculate_distance(
    row['start station latitude'], row['start station longitude'],
    row['end station latitude'], row['end station longitude']), axis=1)

# Access the columns in the DataFrame and calculate distances - iterating through the dataframe.
aug_20_pd['trip_distance'] = aug_20_pd.apply(lambda row: calculate_distance(
    row['start station latitude'], row['start station longitude'],
    row['end station latitude'], row['end station longitude']), axis=1)

aug_20_pd.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_day_time,duration_group,trip_distance
0,2013,2020-08-01 00:00:00.879,2020-08-01 00:33:34.7260,3295,Central Park W & W 96 St,40.791270,-73.964839,3992,W 169 St & Fort Washington Ave,40.842842,-73.942125,19706,Customer,1998,1,am,1440-2159 min,6.044729
1,7002,2020-08-01 00:00:01.591,2020-08-01 01:56:44.0720,3144,E 81 St & Park Ave,40.776777,-73.959010,3671,E 81 St & 2 Ave,40.774779,-73.954275,37191,Subscriber,1966,1,am,1440-2159 min,0.456409
2,155,2020-08-01 00:00:03.581,2020-08-01 00:02:38.6340,387,Centre St & Chambers St,40.712733,-74.004607,387,Centre St & Chambers St,40.712733,-74.004607,42561,Customer,1969,0,am,0-719 min,0.000000
3,2720,2020-08-01 00:00:05.013,2020-08-01 00:45:25.3270,3080,S 4 St & Rodney St,40.709340,-73.956080,3364,Carroll St & 5 Ave,40.675162,-73.981483,41607,Subscriber,1990,1,am,1440-2159 min,4.362355
4,2938,2020-08-01 00:00:05.942,2020-08-01 00:49:03.9640,3510,Adam Clayton Powell Blvd & W 123 St,40.807832,-73.949373,3282,5 Ave & E 88 St,40.783070,-73.959390,36366,Customer,1969,0,am,1440-2159 min,2.879592

In [9]:
###################################
## Create 'distance_group' column using bin

# 2019
# Define the bins and labels
bins = list(range(0, 13, 2)) + [float('inf')]
labels = [f"{i}-{i+1} km" for i in bins[:-1]]
# Apply binning to the 'trip_distance' column
jun_19_pd['distance_group'] = pd.cut(jun_19_pd['trip_distance'], bins=bins, labels=labels, right=False)


bins = list(range(0, 13, 2)) + [float('inf')]
labels = [f"{i}-{i+1} km" for i in bins[:-1]]
# Apply binning to the 'trip_distance' column
jul_19_pd['distance_group'] = pd.cut(jul_19_pd['trip_distance'], bins=bins, labels=labels, right=False)

bins = list(range(0, 13, 2)) + [float('inf')]
labels = [f"{i}-{i+1} km" for i in bins[:-1]]
# Apply binning to the 'trip_distance' column
aug_19_pd['distance_group'] = pd.cut(aug_19_pd['trip_distance'], bins=bins, labels=labels, right=False)

aug_19_pd.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_day_time,duration_group,trip_distance,distance_group
0,393,2019-08-01 00:00:01.468,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2,am,0-719 min,0.916213,0-1 km
1,627,2019-08-01 00:00:01.929,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2,am,0-719 min,1.176360,0-1 km
2,1132,2019-08-01 00:00:04.048,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1,am,720-1439 min,2.367929,2-3 km
3,1780,2019-08-01 00:00:04.163,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1,am,1440-2159 min,4.347187,4-5 km
4,1517,2019-08-01 00:00:05.458,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2,am,1440-2159 min,0.000000,0-1 km

In [10]:
## Create 'distance_group' column using bin
# 2020
# Define the bins and labels
bins = list(range(0, 13, 2)) + [float('inf')]
labels = [f"{i}-{i+1} km" for i in bins[:-1]]
# Apply binning to the 'trip_distance' column
jun_20_pd['distance_group'] = pd.cut(jun_20_pd['trip_distance'], bins=bins, labels=labels, right=False)


bins = list(range(0, 13, 2)) + [float('inf')]
labels = [f"{i}-{i+1} km" for i in bins[:-1]]
# Apply binning to the 'trip_distance' column
jul_20_pd['distance_group'] = pd.cut(jul_20_pd['trip_distance'], bins=bins, labels=labels, right=False)

bins = list(range(0, 13, 2)) + [float('inf')]
labels = [f"{i}-{i+1} km" for i in bins[:-1]]
# Apply binning to the 'trip_distance' column
aug_20_pd['distance_group'] = pd.cut(aug_20_pd['trip_distance'], bins=bins, labels=labels, right=False)

aug_20_pd.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_day_time,duration_group,trip_distance,distance_group
0,2013,2020-08-01 00:00:00.879,2020-08-01 00:33:34.7260,3295,Central Park W & W 96 St,40.791270,-73.964839,3992,W 169 St & Fort Washington Ave,40.842842,-73.942125,19706,Customer,1998,1,am,1440-2159 min,6.044729,6-7 km
1,7002,2020-08-01 00:00:01.591,2020-08-01 01:56:44.0720,3144,E 81 St & Park Ave,40.776777,-73.959010,3671,E 81 St & 2 Ave,40.774779,-73.954275,37191,Subscriber,1966,1,am,1440-2159 min,0.456409,0-1 km
2,155,2020-08-01 00:00:03.581,2020-08-01 00:02:38.6340,387,Centre St & Chambers St,40.712733,-74.004607,387,Centre St & Chambers St,40.712733,-74.004607,42561,Customer,1969,0,am,0-719 min,0.000000,0-1 km
3,2720,2020-08-01 00:00:05.013,2020-08-01 00:45:25.3270,3080,S 4 St & Rodney St,40.709340,-73.956080,3364,Carroll St & 5 Ave,40.675162,-73.981483,41607,Subscriber,1990,1,am,1440-2159 min,4.362355,4-5 km
4,2938,2020-08-01 00:00:05.942,2020-08-01 00:49:03.9640,3510,Adam Clayton Powell Blvd & W 123 St,40.807832,-73.949373,3282,5 Ave & E 88 St,40.783070,-73.959390,36366,Customer,1969,0,am,1440-2159 min,2.879592,2-3 km

In [11]:
###################################
## Create birth year group 
# Create 'birth_year_group' column
# 2019
bins = range(int(jun_19_pd['birth year'].min()), int(jun_19_pd['birth year'].max()) + 11, 10)
labels = [f"{i}-{i+9}" for i in bins[:-1]]
jun_19_pd['birth_year_group'] = pd.cut(jun_19_pd['birth year'], bins=bins, labels=labels, right=False)

bins = range(int(jun_19_pd['birth year'].min()), int(jul_19_pd['birth year'].max()) + 11, 10)
labels = [f"{i}-{i+9}" for i in bins[:-1]]
jul_19_pd['birth_year_group'] = pd.cut(jul_19_pd['birth year'], bins=bins, labels=labels, right=False)

bins = range(int(jun_19_pd['birth year'].min()), int(aug_19_pd['birth year'].max()) + 11, 10)
labels = [f"{i}-{i+9}" for i in bins[:-1]]
aug_19_pd['birth_year_group'] = pd.cut(aug_19_pd['birth year'], bins=bins, labels=labels, right=False)
#aug_19_pd.head()

In [12]:
# Create 'birth_year_group' column
# 2019
bins = range(int(jun_19_pd['birth year'].min()), int(jun_20_pd['birth year'].max()) + 11, 10)
labels = [f"{i}-{i+9}" for i in bins[:-1]]
jun_20_pd['birth_year_group'] = pd.cut(jun_20_pd['birth year'], bins=bins, labels=labels, right=False)

bins = range(int(jun_19_pd['birth year'].min()), int(jul_20_pd['birth year'].max()) + 11, 10)
labels = [f"{i}-{i+9}" for i in bins[:-1]]
jul_20_pd['birth_year_group'] = pd.cut(jul_20_pd['birth year'], bins=bins, labels=labels, right=False)

bins = range(int(jun_19_pd['birth year'].min()), int(aug_20_pd['birth year'].max()) + 11, 10)
labels = [f"{i}-{i+9}" for i in bins[:-1]]
aug_20_pd['birth_year_group'] = pd.cut(aug_20_pd['birth year'], bins=bins, labels=labels, right=False)
# aug_20_pd.head()

In [13]:
########################
# Create date only column: date_formatted
from datetime import datetime

# 2019
jun_19_pd['date_formatted'] = jun_19_pd['starttime'].dt.strftime('%m/%Y')
jul_19_pd['date_formatted'] = jul_19_pd['starttime'].dt.strftime('%m/%Y')
aug_19_pd['date_formatted'] = aug_19_pd['starttime'].dt.strftime('%m/%Y')
aug_19_pd.head()

########################
# Create date only column:  date_formatted
# 2020
jun_20_pd['date_formatted'] = jun_20_pd['starttime'].dt.strftime('%m/%Y')
jul_20_pd['date_formatted'] = jul_20_pd['starttime'].dt.strftime('%m/%Y')
aug_20_pd['date_formatted'] = aug_20_pd['starttime'].dt.strftime('%m/%Y')
aug_20_pd.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,bikeid,usertype,birth year,gender,start_day_time,duration_group,trip_distance,distance_group,birth_year_group,date_formatted
0,2013,2020-08-01 00:00:00.879,2020-08-01 00:33:34.7260,3295,Central Park W & W 96 St,40.791270,-73.964839,3992,W 169 St & Fort Washington Ave,40.842842,...,19706,Customer,1998,1,am,1440-2159 min,6.044729,6-7 km,1995-2004,08/2020
1,7002,2020-08-01 00:00:01.591,2020-08-01 01:56:44.0720,3144,E 81 St & Park Ave,40.776777,-73.959010,3671,E 81 St & 2 Ave,40.774779,...,37191,Subscriber,1966,1,am,1440-2159 min,0.456409,0-1 km,1965-1974,08/2020
2,155,2020-08-01 00:00:03.581,2020-08-01 00:02:38.6340,387,Centre St & Chambers St,40.712733,-74.004607,387,Centre St & Chambers St,40.712733,...,42561,Customer,1969,0,am,0-719 min,0.000000,0-1 km,1965-1974,08/2020
3,2720,2020-08-01 00:00:05.013,2020-08-01 00:45:25.3270,3080,S 4 St & Rodney St,40.709340,-73.956080,3364,Carroll St & 5 Ave,40.675162,...,41607,Subscriber,1990,1,am,1440-2159 min,4.362355,4-5 km,1985-1994,08/2020
4,2938,2020-08-01 00:00:05.942,2020-08-01 00:49:03.9640,3510,Adam Clayton Powell Blvd & W 123 St,40.807832,-73.949373,3282,5 Ave & E 88 St,40.783070,...,36366,Customer,1969,0,am,1440-2159 min,2.879592,2-3 km,1965-1974,08/2020

In [14]:
## Drop unnecessary columns & Group 
# ---------2019
# -- jun
jun_19_clean_pd = jun_19_pd[['date_formatted', 'start station name','end station name',
# 'start station latitude',
# 'start station longitude',
# 'end station latitude',
# 'end station longitude',
'birth_year_group',
'duration_group',
'tripduration',
'trip_distance',
'distance_group',
'bikeid' ]]

# -- jul
jul_19_clean_pd = jul_19_pd[['date_formatted', 'start station name','end station name',
# 'start station latitude',
# 'start station longitude',
# 'end station latitude',
# 'end station longitude',
'birth_year_group',
'duration_group',
'tripduration',
'trip_distance',
'distance_group',
'bikeid' ]]


# -- aug
aug_19_clean_pd = aug_19_pd[['date_formatted', 'start station name','end station name',
# 'start station latitude',
# 'start station longitude',
# 'end station latitude',
# 'end station longitude',
'birth_year_group',
'duration_group',
'tripduration',
'trip_distance',
'distance_group',
'bikeid' ]]

## Drop unnecessary columns & Group 
# ---------2020
# -- jun
jun_20_clean_pd = jun_20_pd[['date_formatted', 'start station name','end station name',
# 'start station latitude',
# 'start station longitude',
# 'end station latitude',
# 'end station longitude',
'birth_year_group',
'duration_group',
'tripduration',
'trip_distance',
'distance_group',
'bikeid' ]]

# -- jul
jul_20_clean_pd = jul_20_pd[['date_formatted', 'start station name','end station name',
# 'start station latitude',
# 'start station longitude',
# 'end station latitude',
# 'end station longitude',
'birth_year_group',
'duration_group',
'tripduration',
'trip_distance',
'distance_group',
'bikeid' ]]


# -- aug
aug_20_clean_pd = aug_20_pd[['date_formatted', 'start station name','end station name',
# 'start station latitude',
# 'start station longitude',
# 'end station latitude',
# 'end station longitude',
'birth_year_group',
'duration_group',
'tripduration',
'trip_distance',
'distance_group',
'bikeid' ]]

aug_20_clean_pd.head()

,date_formatted,start station name,end station name,birth_year_group,duration_group,tripduration,trip_distance,distance_group,bikeid
0,08/2020,Central Park W & W 96 St,W 169 St & Fort Washington Ave,1995-2004,1440-2159 min,2013,6.044729,6-7 km,19706
1,08/2020,E 81 St & Park Ave,E 81 St & 2 Ave,1965-1974,1440-2159 min,7002,0.456409,0-1 km,37191
2,08/2020,Centre St & Chambers St,Centre St & Chambers St,1965-1974,0-719 min,155,0.000000,0-1 km,42561
3,08/2020,S 4 St & Rodney St,Carroll St & 5 Ave,1985-1994,1440-2159 min,2720,4.362355,4-5 km,41607
4,08/2020,Adam Clayton Powell Blvd & W 123 St,5 Ave & E 88 St,1965-1974,1440-2159 min,2938,2.879592,2-3 km,36366

## Set up map data

In [15]:
########################## Simplified data required as limit will not fit well to tableau - removed unnecesary metrics.
## Drop unnecessary columns & Group 
# ---------2019
# -- jun
jun_19_map_raw = jun_19_pd[['date_formatted', 'start station name','end station name',
'start_day_time','tripduration',
'bikeid' ]]

# -- jul
jul_19_map_raw = jul_19_pd[['date_formatted', 'start station name','end station name',
'start_day_time','tripduration',
'bikeid' ]]


# -- aug
aug_19_map_raw = aug_19_pd[['date_formatted', 'start station name','end station name',
'start_day_time','tripduration',
'bikeid' ]]

## Drop unnecessary columns & Group 
# ---------2020
# -- jun
jun_20_map_raw = jun_20_pd[['date_formatted', 'start station name','end station name',
'start_day_time','tripduration',
'bikeid' ]]

# -- jul
jul_20_map_raw = jul_20_pd[['date_formatted', 'start station name','end station name',
'start_day_time','tripduration',
'bikeid' ]]


# -- aug
aug_20_map_raw = aug_20_pd[['date_formatted', 'start station name','end station name',
'start_day_time','tripduration',
'bikeid' ]]

In [16]:
###################### START STATION DATA
## Start Aggregates 2019
#---jun 19
jun19_map_group_st = jun_19_map_raw.groupby(
    ["date_formatted","start station name"]).agg({'tripduration': 'sum','bikeid': 'count'}).reset_index()
jun19_map_group_st.rename(columns={'bikeid': 'count'}, inplace=True)

jun19_map_group_st = jun19_map_group_st[jun19_map_group_st["count"]!=0]

#---jul 19
jul19_map_group_st = jul_19_map_raw.groupby(
    ["date_formatted","start station name"]).agg({'tripduration': 'sum','bikeid': 'count'}).reset_index()
jul19_map_group_st.rename(columns={'bikeid': 'count'}, inplace=True)

jul19_map_group_st = jul19_map_group_st[jul19_map_group_st["count"]!=0]

#---aug 19
aug19_map_group_st = aug_19_map_raw.groupby(
    ["date_formatted","start station name"]).agg({'tripduration': 'sum','bikeid': 'count'}).reset_index()
aug19_map_group_st.rename(columns={'bikeid': 'count'}, inplace=True)

aug19_map_group_st = aug19_map_group_st[aug19_map_group_st["count"]!=0]


## Start Aggregates 2020
#---jun 20
jun20_map_group_st = jun_20_map_raw.groupby(
    ["date_formatted","start station name"]).agg({'tripduration': 'sum','bikeid': 'count'}).reset_index()
jun20_map_group_st.rename(columns={'bikeid': 'count'}, inplace=True)

jun20_map_group_st = jun20_map_group_st[jun20_map_group_st["count"]!=0]

#---jul 20
jul20_map_group_st = jul_20_map_raw.groupby(
    ["date_formatted","start station name"]).agg({'tripduration': 'sum','bikeid': 'count'}).reset_index()
jul20_map_group_st.rename(columns={'bikeid': 'count'}, inplace=True)

jul20_map_group_st = jul20_map_group_st[jul20_map_group_st["count"]!=0]

#---aug 20
aug20_map_group_st = aug_20_map_raw.groupby(
    ["date_formatted","start station name"]).agg({'tripduration': 'sum','bikeid': 'count'}).reset_index()
aug20_map_group_st.rename(columns={'bikeid': 'count'}, inplace=True)

aug20_map_group_st = aug20_map_group_st[aug20_map_group_st["count"]!=0]
aug20_map_group_st.head()

  date_formatted start station name  tripduration  count
0        08/2020   1 Ave & E 110 St       2661206   1945
1        08/2020    1 Ave & E 16 St       8488943   7453
2        08/2020    1 Ave & E 18 St       6959712   6393
3        08/2020    1 Ave & E 30 St       3669002   4057
4        08/2020    1 Ave & E 44 St       3718589   3196

In [17]:
## join all start into ond df

start_map_group = pd.concat([jun19_map_group_st,jul19_map_group_st,aug19_map_group_st,jun20_map_group_st,jul20_map_group_st,aug20_map_group_st],axis=0)
start_map_group["trip_journey"] = 'start'
start_map_group.rename(columns={'bikeid': 'count', 'start station name': 'station name'}, inplace=True)
start_map_group.reset_index
start_map_group.info()

# start_map_group.to_csv('start_map_group.csv', encoding='utf-8',index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5360 entries, 0 to 1038
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date_formatted  5360 non-null   object
 1   station name    5360 non-null   object
 2   tripduration    5360 non-null   int64
 3   count           5360 non-null   int64
 4   trip_journey    5360 non-null   object
dtypes: int64(2), object(3)
memory usage: 251.2+ KB

In [18]:
###################### end STATION DATA
## end Aggregates 2020
#---jun 19
jun19_map_group_end = jun_19_map_raw.groupby(
    ["date_formatted","end station name"]).agg({'tripduration': 'sum','bikeid': 'count'}).reset_index()
jun19_map_group_end.rename(columns={'bikeid': 'count'}, inplace=True)

jun19_map_group_end = jun19_map_group_end[jun19_map_group_end["count"]!=0]

#---jul 19
jul19_map_group_end = jul_19_map_raw.groupby(
    ["date_formatted","end station name"]).agg({'tripduration': 'sum','bikeid': 'count'}).reset_index()
jul19_map_group_end.rename(columns={'bikeid': 'count'}, inplace=True)

jul19_map_group_end = jul19_map_group_end[jul19_map_group_end["count"]!=0]

#---aug 19
aug19_map_group_end = aug_19_map_raw.groupby(
    ["date_formatted","end station name"]).agg({'tripduration': 'sum','bikeid': 'count'}).reset_index()
aug19_map_group_end.rename(columns={'bikeid': 'count'}, inplace=True)

aug19_map_group_end = aug19_map_group_end[aug19_map_group_end["count"]!=0]



## end Aggregates 2020
#---jun 20
jun20_map_group_end = jun_20_map_raw.groupby(
    ["date_formatted","end station name"]).agg({'tripduration': 'sum','bikeid': 'count'}).reset_index()
jun20_map_group_end.rename(columns={'bikeid': 'count'}, inplace=True)

jun20_map_group_end = jun20_map_group_end[jun20_map_group_end["count"]!=0]

#---jul 20
jul20_map_group_end = jul_20_map_raw.groupby(
    ["date_formatted","end station name"]).agg({'tripduration': 'sum','bikeid': 'count'}).reset_index()
jul20_map_group_end.rename(columns={'bikeid': 'count'}, inplace=True)

jul20_map_group_end = jul20_map_group_end[jul20_map_group_end["count"]!=0]

#---aug 20
aug20_map_group_end = aug_20_map_raw.groupby(
    ["date_formatted","end station name"]).agg({'tripduration': 'sum','bikeid': 'count'}).reset_index()
aug20_map_group_end.rename(columns={'bikeid': 'count'}, inplace=True)

aug20_map_group_end = aug20_map_group_end[aug20_map_group_end["count"]!=0]
aug20_map_group_end.head()

  date_formatted  end station name  tripduration  count
0        08/2020  1 Ave & E 110 St       2377983   1951
1        08/2020   1 Ave & E 16 St       7226343   7428
2        08/2020   1 Ave & E 18 St       5888585   6314
3        08/2020   1 Ave & E 30 St       3946504   4133
4        08/2020   1 Ave & E 44 St       4374122   3222

In [19]:
## join all end into ond df

end_map_group = pd.concat([jun19_map_group_end,jul19_map_group_end,aug19_map_group_end,jun20_map_group_end,jul20_map_group_end,aug20_map_group_end],axis=0)
end_map_group["trip_journey"] = 'end'
end_map_group.rename(columns={'bikeid': 'count', 'end station name': 'station name'}, inplace=True)
end_map_group.reset_index
end_map_group.info()

# end_map_group.to_csv('end_map_group.csv', encoding='utf-8',index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5449 entries, 0 to 1058
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date_formatted  5449 non-null   object
 1   station name    5449 non-null   object
 2   tripduration    5449 non-null   int64
 3   count           5449 non-null   int64
 4   trip_journey    5449 non-null   object
dtypes: int64(2), object(3)
memory usage: 255.4+ KB

In [20]:
########################
## Join start and end map df
map_data_df = pd.DataFrame(pd.concat([start_map_group, end_map_group], axis = 0)).reset_index()
map_data_df


########################
# Print Joined data to csv
## Use as location on master tables
map_data_df.to_csv('map_data.csv', encoding='utf-8',index=False)

### Start Journey Split from here 
- The first set creates trip data using the start station details and group.
- A column 'trip_journey' = 'start' will be included
- final data will filter trip journey using this filter

In [21]:
#############################
## START STATION DATA FRAME // SPLIT AND COPY
#############################
##Aggregate Data by relevant fields: 
#2019
#June 2019
start_jun_19_groupby = jun_19_clean_pd.groupby(
    ["date_formatted","birth_year_group","start station name","duration_group", "distance_group"]).agg({'tripduration': 'sum', 'trip_distance': 'sum','bikeid': 'count'}).reset_index()
start_jun_19_groupby.rename(columns={'bikeid': 'count'}, inplace=True)

start_jun_19_groupby_new = start_jun_19_groupby[start_jun_19_groupby["count"]!=0]

# #July2019
start_jul_19_groupby = jul_19_clean_pd.groupby(
    ["date_formatted","birth_year_group","start station name","duration_group", "distance_group"]).agg({'tripduration': 'sum', 'trip_distance': 'sum','bikeid': 'count'}).reset_index()
start_jul_19_groupby.rename(columns={'bikeid': 'count'}, inplace=True)

start_jul_19_groupby_new = start_jul_19_groupby[start_jul_19_groupby["count"]!=0]


#August 2019
start_aug_19_groupby = aug_19_clean_pd.groupby(
    ["date_formatted","birth_year_group","start station name","duration_group", "distance_group"]).agg({'tripduration': 'sum', 'trip_distance': 'sum','bikeid': 'count'}).reset_index()
start_aug_19_groupby.rename(columns={'bikeid': 'count'}, inplace=True)

start_aug_19_groupby_new = start_aug_19_groupby[start_aug_19_groupby["count"]!=0]


#############################
##Aggregate Data by relevant fields: 
#2020
#June 2020
start_jun_20_groupby = jun_20_clean_pd.groupby(
    ["date_formatted","birth_year_group","start station name","duration_group", "distance_group"]).agg({'tripduration': 'sum', 'trip_distance': 'sum','bikeid': 'count'}).reset_index()
start_jun_20_groupby.rename(columns={'bikeid': 'count'}, inplace=True)

start_jun_20_groupby_new = start_jun_20_groupby[start_jun_20_groupby["count"]!=0]

# #July2020
start_jul_20_groupby = jul_20_clean_pd.groupby(
    ["date_formatted","birth_year_group","start station name","duration_group", "distance_group"]).agg({'tripduration': 'sum', 'trip_distance': 'sum','bikeid': 'count'}).reset_index()
start_jul_20_groupby.rename(columns={'bikeid': 'count'}, inplace=True)

start_jul_20_groupby_new = start_jul_20_groupby[start_jul_20_groupby["count"]!=0]


#August 2020
start_aug_20_groupby = aug_20_clean_pd.groupby(
    ["date_formatted","birth_year_group","start station name","duration_group", "distance_group"]).agg({'tripduration': 'sum', 'trip_distance': 'sum','bikeid': 'count'}).reset_index()
start_aug_20_groupby.rename(columns={'bikeid': 'count'}, inplace=True)

start_aug_20_groupby_new = start_aug_20_groupby[start_aug_20_groupby["count"]!=0]

In [22]:
# # Union / Concat all data source into 1 dataframe

start_summer_group_19_20 = pd.concat([start_jun_19_groupby_new, start_jul_19_groupby_new,start_aug_19_groupby_new,start_jun_20_groupby_new,start_jul_20_groupby_new,start_aug_20_groupby_new], axis=0)
start_sum_group_1920_df = pd.DataFrame(start_summer_group_19_20)
start_sum_group_1920_df.rename(columns={'bikeid': 'count'}, inplace=True)
start_sum_group_1920_df.reset_index
start_sum_group_1920_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 285537 entries, 21 to 261822
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   date_formatted      285537 non-null  object
 1   birth_year_group    285537 non-null  category
 2   start station name  285537 non-null  object
 3   duration_group      285537 non-null  category
 4   distance_group      285537 non-null  category
 5   tripduration        285537 non-null  int64
 6   trip_distance       285537 non-null  float64
 7   count               285537 non-null  int64
dtypes: category(3), float64(1), int64(2), object(2)
memory usage: 13.9+ MB

In [23]:

####################################
# this data will be the start trip data
# Insert a column with values 'start'
start_sum_group_1920_df = start_sum_group_1920_df.drop_duplicates()

start_sum_group_1920_df = start_sum_group_1920_df.rename(columns={'start station name': 'station name'})
start_sum_group_1920_df['trip_journey'] = 'start'

start_sum_group_1920_df

,date_formatted,birth_year_group,station name,duration_group,distance_group,tripduration,trip_distance,count,trip_journey
21,06/2019,1885-1894,1 Ave & E 16 St,0-719 min,0-1 km,987,1.651867,3,start
28,06/2019,1885-1894,1 Ave & E 16 St,720-1439 min,0-1 km,938,1.370166,1,start
29,06/2019,1885-1894,1 Ave & E 16 St,720-1439 min,2-3 km,753,2.028675,1,start
63,06/2019,1885-1894,1 Ave & E 30 St,0-719 min,0-1 km,264,0.837164,1,start
92,06/2019,1885-1894,1 Ave & E 44 St,720-1439 min,2-3 km,3264,7.766648,3,start
...,...,...,...,...,...,...,...,...,...
261803,08/2020,1995-2004,Wythe Ave & Metropolitan Ave,1440-2159 min,6-7 km,20421,50.580483,7,start
261807,08/2020,1995-2004,Yankee Ferry Terminal,0-719 min,0-1 km,13015,15.398437,30,start
261814,08/2020,1995-2004,Yankee Ferry Terminal,720-1439 min,0-1 km,73412,29.287177,66,start
261821,08/2020,1995-2004,Yankee Ferry Terminal,1440-2159 min,0-1 km,400571,69.357248,159,start
261822,08/2020,1995-2004,Yankee Ferry Terminal,1440-2159 min,2-3 km,12130,4.081769,2,start

In [ ]:
########################
# Print Joined data to csv
start_sum_group_1920_df.to_csv('start_sum_1920.csv', encoding='utf-8',index=False)

### End Journey Split from here 
- The first set creates trip data using the start station details and group.
- A column 'trip_journey' = 'end' will be included
- final data will filter trip journey using this filter

In [25]:
#############################
## end STATION DATA FRAME // SPLIT AND COPY
#############################
##Aggregate Data by relevant fields: 
#2019
#June 2019
end_jun_19_groupby = jun_19_clean_pd.groupby(
    ["date_formatted","birth_year_group","end station name","duration_group", "distance_group"]).agg({'tripduration': 'sum', 'trip_distance': 'sum','bikeid': 'count'}).reset_index()
end_jun_19_groupby.rename(columns={'bikeid': 'count'}, inplace=True)

end_jun_19_groupby_new = end_jun_19_groupby[end_jun_19_groupby["count"]!=0]

# #July2019
end_jul_19_groupby = jul_19_clean_pd.groupby(
    ["date_formatted","birth_year_group","end station name","duration_group", "distance_group"]).agg({'tripduration': 'sum', 'trip_distance': 'sum','bikeid': 'count'}).reset_index()
end_jul_19_groupby.rename(columns={'bikeid': 'count'}, inplace=True)

end_jul_19_groupby_new = end_jul_19_groupby[end_jul_19_groupby["count"]!=0]


#August 2019
end_aug_19_groupby = aug_19_clean_pd.groupby(
    ["date_formatted","birth_year_group","end station name","duration_group", "distance_group"]).agg({'tripduration': 'sum', 'trip_distance': 'sum','bikeid': 'count'}).reset_index()
end_aug_19_groupby.rename(columns={'bikeid': 'count'}, inplace=True)

end_aug_19_groupby_new = end_aug_19_groupby[end_aug_19_groupby["count"]!=0]


#############################
##Aggregate Data by relevant fields: 
#2020
#June 2020
end_jun_20_groupby = jun_20_clean_pd.groupby(
    ["date_formatted","birth_year_group","end station name","duration_group", "distance_group"]).agg({'tripduration': 'sum', 'trip_distance': 'sum','bikeid': 'count'}).reset_index()
end_jun_20_groupby.rename(columns={'bikeid': 'count'}, inplace=True)

end_jun_20_groupby_new = end_jun_20_groupby[end_jun_20_groupby["count"]!=0]

# #July2020
end_jul_20_groupby = jul_20_clean_pd.groupby(
    ["date_formatted","birth_year_group","end station name","duration_group", "distance_group"]).agg({'tripduration': 'sum', 'trip_distance': 'sum','bikeid': 'count'}).reset_index()
end_jul_20_groupby.rename(columns={'bikeid': 'count'}, inplace=True)

end_jul_20_groupby_new = end_jul_20_groupby[end_jul_20_groupby["count"]!=0]


#August 2020
end_aug_20_groupby = aug_20_clean_pd.groupby(
    ["date_formatted","birth_year_group","end station name","duration_group", "distance_group"]).agg({'tripduration': 'sum', 'trip_distance': 'sum','bikeid': 'count'}).reset_index()
end_aug_20_groupby.rename(columns={'bikeid': 'count'}, inplace=True)

end_aug_20_groupby_new = end_aug_20_groupby[end_aug_20_groupby["count"]!=0]

In [26]:
# # Union / Concat all data source into 1 dataframe

end_summer_group_19_20 = pd.concat([end_jun_19_groupby_new, end_jul_19_groupby_new,end_aug_19_groupby_new,end_jun_20_groupby_new,end_jul_20_groupby_new,end_aug_20_groupby_new], axis=0)
end_sum_group_1920_df = pd.DataFrame(end_summer_group_19_20)
end_sum_group_1920_df.rename(columns={'bikeid': 'count'}, inplace=True)
end_sum_group_1920_df.reset_index
end_sum_group_1920_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284041 entries, 21 to 266861
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date_formatted    284041 non-null  object
 1   birth_year_group  284041 non-null  category
 2   end station name  284041 non-null  object
 3   duration_group    284041 non-null  category
 4   distance_group    284041 non-null  category
 5   tripduration      284041 non-null  int64
 6   trip_distance     284041 non-null  float64
 7   count             284041 non-null  int64
dtypes: category(3), float64(1), int64(2), object(2)
memory usage: 13.8+ MB

In [27]:

####################################
# this data will be the end trip data
# Insert a column with values 'end'
end_sum_group_1920_df = end_sum_group_1920_df.drop_duplicates()

end_sum_group_1920_df = end_sum_group_1920_df.rename(columns={'end station name': 'station name'})
end_sum_group_1920_df['trip_journey'] = 'end'

end_sum_group_1920_df

,date_formatted,birth_year_group,station name,duration_group,distance_group,tripduration,trip_distance,count,trip_journey
21,06/2019,1885-1894,1 Ave & E 16 St,0-719 min,0-1 km,488,0.891062,1,end
42,06/2019,1885-1894,1 Ave & E 18 St,0-719 min,0-1 km,739,2.505880,2,end
63,06/2019,1885-1894,1 Ave & E 30 St,0-719 min,0-1 km,620,1.175486,1,end
91,06/2019,1885-1894,1 Ave & E 44 St,720-1439 min,0-1 km,963,1.950490,1,end
92,06/2019,1885-1894,1 Ave & E 44 St,720-1439 min,2-3 km,2159,4.980445,2,end
...,...,...,...,...,...,...,...,...,...
266843,08/2020,1995-2004,Wythe Ave & Metropolitan Ave,1440-2159 min,6-7 km,15460,32.181035,5,end
266844,08/2020,1995-2004,Wythe Ave & Metropolitan Ave,1440-2159 min,8-9 km,11013,24.339686,3,end
266847,08/2020,1995-2004,Yankee Ferry Terminal,0-719 min,0-1 km,20694,27.966980,48,end
266854,08/2020,1995-2004,Yankee Ferry Terminal,720-1439 min,0-1 km,78432,31.413736,71,end
266861,08/2020,1995-2004,Yankee Ferry Terminal,1440-2159 min,0-1 km,409299,63.641458,158,end

In [28]:
########################
# Print Joined data to csv
end_sum_group_1920_df.to_csv('end_sum_1920.csv', encoding='utf-8',index=False)

### The following creates a table including station Location , Longitude and Lattitude

In [29]:
################################################

### Create table of Stations - create as start and end with coordinates- concatinate then delete any duplicates.
# 2019
jun_19_start = jul_19_pd[['start station name',
'start station latitude',
'start station longitude']]

jun_19_end = jul_19_pd[['end station name',
'end station latitude',
'end station longitude' ]]

#--
jul_19_start = jul_19_pd[['start station name',
'start station latitude',
'start station longitude']]

jul_19_end = jul_19_pd[['end station name',
'end station latitude',
'end station longitude' ]]

#--
aug_19_start = aug_19_pd[['start station name',
'start station latitude',
'start station longitude']]

aug_19_end = aug_19_pd[['end station name',
'end station latitude',
'end station longitude']]

# 2020
jun_20_start = jul_20_pd[['start station name',
'start station latitude',
'start station longitude']]

jun_20_end = jul_20_pd[['end station name',
'end station latitude',
'end station longitude' ]]

#--
jul_20_start = jul_20_pd[['start station name',
'start station latitude',
'start station longitude']]

jul_20_end = jul_20_pd[['end station name',
'end station latitude',
'end station longitude' ]]

#--
aug_20_start = aug_20_pd[['start station name',
'start station latitude',
'start station longitude']]

aug_20_end = aug_20_pd[['end station name',
'end station latitude',
'end station longitude']]

In [30]:

stations_start_raw_all = pd.concat([jun_19_start, jul_19_start,aug_19_start,jun_20_start,jul_20_start,aug_20_start], axis=0)
stations_end_raw_all = pd.concat([jun_19_end, jul_19_end,aug_19_end,jun_20_end,jul_20_end,aug_20_end], axis=0)

# Group the DataFrame by the specified columns
start_grouped = stations_start_raw_all.groupby(['start station name',
                         'start station latitude', 'start station longitude']).size().reset_index()


end_grouped = stations_end_raw_all.groupby(['end station name',
                         'end station latitude', 'end station longitude']).size().reset_index()

# Rename the count column
start_grouped = start_grouped.drop(columns=[0])
start_grouped = start_grouped.drop_duplicates()


end_grouped = end_grouped.drop(columns=[0])
end_grouped = end_grouped.drop_duplicates()

In [31]:
#############
## Rename columns the fit into one concat df and remove duplicates

start_grouped = start_grouped.rename(columns={'start station name': 'station name','start station latitude': 'station latitude','start station longitude': 'station longitude'})
start_grouped_df = pd.DataFrame(start_grouped).reset_index()



end_grouped = end_grouped.rename(columns={'end station name': 'station name','end station latitude': 'station latitude','end station longitude': 'station longitude'})
end_grouped_df = pd.DataFrame(end_grouped).reset_index()

In [32]:
stations = pd.concat([start_grouped_df,end_grouped_df], axis=0)
stations_df = pd.DataFrame(stations.drop_duplicates())

stations_df = stations_df.reset_index(drop=True)
stations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2033 entries, 0 to 2032
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              2033 non-null   int64
 1   station name       2033 non-null   object
 2   station latitude   2033 non-null   float64
 3   station longitude  2033 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 63.7+ KB

In [33]:
########################
# Print Joined data to csv
## Use as location on master tables
stations_df.to_csv('stations.csv', encoding='utf-8',index=False)